@-webkit-keyframes particles-rotate {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

@keyframes particles-rotate {
    0% {
        -webkit-transform: rotateZ(0deg);
        transform: rotateZ(0deg);
    }

    100% {
        -webkit-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}

.animation-particles-rotate {
    -webkit-animation: particles-rotate 10s linear infinite;
    animation: particles-rotate 10s linear infinite;
    opacity: .9;
    mix-blend-mode: screen;
}

@-webkit-keyframes space-float {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

@keyframes space-float {
    0% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}

.animation-space-float {
    -webkit-animation: space-float 3s ease-in-out infinite alternate;
    animation: space-float 3s ease-in-out infinite alternate;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animation-fade-in {
    -webkit-animation: fade-in .4s ease-in-out;
    animation: fade-in .4s ease-in-out;
}

@-webkit-keyframes glow-2 {
    0% {
        -webkit-filter: brightness(250%);
        filter: brightness(250%);
    }

    100% {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
}

@keyframes glow-2 {
    0% {
        -webkit-filter: brightness(250%);
        filter: brightness(250%);
    }

    100% {
        -webkit-filter: brightness(100%);
        filter: brightness(100%);
    }
}

.navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding-top: 15px;
    margin: 0 auto;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 10;
}

.navbar__logo {
    width: 106px;
    height: 98px;
    // -webkit-animation: glow-2 2s linear infinite alternate;
    // animation: glow-2 2s linear infinite alternate;
}

@media screen and (max-width: 1000px) {
    .navbar__logo {
        width: 80px;
        height: 75px;
    }
}

.navbar__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type: none;
    width: calc(100% - 400px);
    max-width: 1200px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 1366px) {
    .navbar__links {
        width: calc(100% - 300px);
    }
}

@media screen and (max-width: 1000px) {
    .navbar__links {
        display: none;
    }
}

.navbar__links__li {
    display: block;
    padding: 10px 5px;
    -webkit-transition: all 0.15s ease;
    transition: all 0.15s ease;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-bottom: -20px;
}

@media screen and (max-width: 1000px) {
    .navbar__links__li {
        display: none;
    }
}

.navbar__links__li::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color: #29abe2;
    border-radius: 3px;
    -webkit-transition: 0.15s;
    transition: 0.15s;
    margin: 10px auto 0;
}

.navbar__links__li.active {
    font-weight: bolder;
}

.navbar__links__li:hover,
.navbar__links__li.active {
    color: #29abe2;
    font-size: 22px;
    cursor: pointer;
}

.navbar__links__li:hover::after,
.navbar__links__li.active::after {
    background-color: #29abe2;
    width: 100%;
}



@media screen and (max-width: 1000px) {
    .navbar {
        padding: 15px 15px 0;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .navbar__user-desktop {
        display: none;
    }
}